body {
    background-color: #333;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main.highlight {
    text-align: center;
    width: 80%;
    margin: auto;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    color: #f9a602;
}

form {
    margin: 20px 0;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #f9a602;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

button:hover {
    background-color: #ffcc00;
}

ul {
    list-style-type: none;
    padding: 0;
    width: 25%;
    display: flex;
    flex-direction: column-reverse;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
}